<table
  style='font-family: Arial, sans-serif; font-size: 16px; color: #333333; background-color: #f2f7ff; margin: 0 auto; width: 100%; max-width: 600px;'
>
  <tr>
    <td
      style='padding: 20px; background-color: #ffffff; border-radius: 5px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);'
    >
      <h1 style='color: #0077be;'>Verificaci贸n de cuenta</h1>
      <p>隆Bienvenido a FM Remainer ! </p>
      <p>Tu c贸digo de verificaci贸n es:</p>
      <p style='text-align: center;'><span
          style='display: inline-block; padding: 10px; color: #0077be; font-weight: bold; letter-spacing: 0.05em; font-size: 18px;'
        >{{verificationCode}}</span></p>
      <p>Regresa al proceso de registro e ingresa el c贸digo de verificaci贸n, el
        c贸digo es v谩lido por 5 minutos.</p>
      <hr style='margin: 20px auto; width: 100%;' />
      <p>驴Tienes alguna pregunta? No dudes en contactar a nuestro equipo de
        soporte.</p>
      <p>隆Estaremos encantados de ayudarte! </p>
      <p>Atentamente,<br />El equipo de Automatch</p>
    </td>
  </tr>
</table>
